<div class="date">
  <div *ngFor="let item of LIST| slice:counter: counter+1; let i = index;">
      <h1>Datum: {{item.dt_txt | date:"dd MM yyyy"}}</h1>
  </div>
</div>
<div id="inner">
  <div class="container">
    <div *ngFor="let item of LIST| slice:counter: counter2; let i = index;">
      <div class="body">
        <h4><img
          src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png">
          <h2>{{item.dt_txt | date:"HH:mm"}}</h2>
          <h3>
            Temp: {{item.main.temp | number:'1.0-1'}}°C
          </h3>
        </h4>
        <h4>Wind: {{item.wind.speed}}km/h</h4>
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button (click)="yesterdayClicked()" class="mybutton"*ngIf="counter !> 8">last Day</button>
  <button (click)="tomorowClicked()" class="mybutton" *ngIf="counter2 !<= 40">next Day</button>
</div>

