.body {
  flex: auto;
  text-align: center;
  font-family: Trebuchet MS;
  width: auto;
  flex-direction: row;
  float: left;
  width: 225px;
  height: auto;
  padding: 15px;
  margin: 15px;
}
.container{
  margin: auto;
  width: 1150px;
}

#container {
  overflow: hidden;
  width: auto;
}

#inner {
  display: flex;
  overflow: hidden;
  width: 75%;
  border-radius: 5px;
  margin: auto;
  justify-content: center;
  background: #659999;
  background: -webkit-linear-gradient(to right, #659999, #f4791f);
  background: linear-gradient(to right, #659999, #f4791f);
}
.date{
  text-align: center;
  width: 100%;
  font-family: "Trebuchet MS";
}

.mybutton{
  width: 100%;
  border: 0px;
  background:linear-gradient(to bottom, #659999, #f4791f);
  background-color:#4773ad;
  cursor:pointer;
  color: black;
  font-family:Trebuchet MS;
  padding: 10px 20px 10px 20px;
  font-size:1rem;
  text-decoration:none;
  outline: 0;
  margin-top: 15px;
  text-align: center;
  width: 20%;
  margin-right: 5px;
  margin-left: 5px;
}
.button-container{
  justify-content: center;
  display: flex;
}
.mybutton:hover{
  background:linear-gradient(to bottom, #599191, #903c14);
  background-color:#4773ad;
}
